.image {
  max-height: 100px;
}
.container {
  margin: 30px;
  height: 300px;
  width: 300px;
  border: solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
